<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>What is a heatmap?</h3>
      <%= Textfile.content_for("heatmap_explanation") %>
    </div>
    <div class="col-md-7">
      <h3><center>Heatmap of Commuter Routes, Indianapolis, IN</center></h3>
      <%= render 'heatmap' %>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>
