<div class="col-sm-2 left-sidebar-heatmap">
  <%= simple_format(Textfile.content_for("left_sidebar_heatmap")) %>
</div>
<div class="col-sm-8">
  <h3>Heatmap for Indianapolis area</h3>
  <h5>Showing commute paths up to a 65 mile radius from Downtown Indianapolis</h5>
  <%= render 'heatmap' %>
</div>
