
<%= render 'heatmap' %>

<div class="well heatmap-info">
  <p>Effectiveness elevate environmental dedicated pursue these aspirations; activism; working alongside social analysis initiative sustainable. Foster change-makers; medical supplies, grantees cooperation global network compassion fighting poverty change movements interconnectivity effect. Safeguards citizenry Andrew Carnegie; catalyst life-saving.</p>
</div>
