<div class="col-sm-2 left-sidebar-heatmap">
  <%= simple_format(Textfile.content_for("left_sidebar_heatmap")) %>
</div>
<div class="col-sm-8">
  <h3>Heatmap for Indianapolis area</h3>
  <h4>Up to 65 Mile Radius from Downtown Indianapolis</h4>
  <%= render 'heatmap' %>
</div>
