<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h3>What is a heatmap?</h3>
      <p>Edit explanation for heatmap</p>
      <p>A heat map (or heatmap) is a graphical representation of data where the individual values contained in a matrix are represented as colors. (wiki)  </p>
    </div>
    <div class="col-md-8">
      <h2>Heatmap for Commuters in the Indianapolis Area</h2>
      <%= render 'heatmap' %>
    </div>
    <div class="col-md-2">

    </div>
  </div>
</div>
