<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= Textfile.content_for("heatmap_explanation") %>
    </div>
    <div class="col-md-8">
      <h3><center>Heatmap for all Commuter Routes, Indianapolis, IN</center></h3>
      <p><center>Areas of the highest concentration of commuters is shown in red, lowest in green.</center></p>
      <%= render 'heatmap' %>
      <h3><center>Stats for all Commuters</center></h3>
      <%= render 'commutes/commutes' %>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>
