<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>About the Developer and the Indy Public Transit Survey</h3>
    </div>
  </div>
  <div class="row author-bio">
    <div class="col-md-3">
      <h4>About Marie Denney</h4>
      <%= image_tag('author_pic', class: "img-responsive", alt: "Responsive Image", class: "img-rounded") %>
    </div>
    <div class="col-md-9">
      <h4>About Marie Denney</h4>
      <p>Hello! My name is Marie Denney and I am passionate about improving and bringing more public transportation options to Indianapolis, most specifically, a light rail system that would connect the suburbs to the heart of Indianapolis. I currently live in one of the steadily growing suburbs of Indianapolis and would glady use public transportation to get around, if it was made available to me. In my travels, I use public transporation whenever it is available, my favorite means being light rail and commuter rail systems. Both provide me with a way to enjoy my surroundings without having to worry about traffic and the cost of a rental car.</p>
      <p>I recently completed a 12-week immersive software development program at The Iron Yard, Indianapolis Campus.</p>
    </div>
    <hr>
  </div>
  <div class="row app-bio">
    <div class="col-md-3">
      <h4>About the Indy Public Transit Survey</h4>
    </div>
    <div class="col-md-9">
      <h4></h4>
      <p>As a way to express my passion for public transportation I created the Indy Public Transit Survey as a way to collect and disseminate data regarding the routes most frequently traveled by commuters.</p>
    </div>
  </div>
  <div class="row tech-used">
    <div class="col-md-3">
      <h4></h4>
    </div>
    <div class="col-md-9">
      <h4></h4>
      <p></p>
    </div>
  </div><div class="row other-info">
    <div class="col-md-3">
      <h4></h4>
    </div>
    <div class="col-md-9">
      <h4></h4>
      <p></p>
    </div>
  </div>
</div>
