<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Contact</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <h4>Email:</h4>
    </div>
    <div class="col-md-6">
      <p>add in email address, do I put in social media stuff??</p>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <h4>LinkedIn:</h4>
    </div>
    <div class="col-md-6">
      <p>add in linkedin account</p>
    </div>
    <div class="col-md-4">
    </div>
  </div><div class="row">
    <div class="col-md-2">
      <h4>GitHub:</h4>
    </div>
    <div class="col-md-6">
      <p>add in GitHub account</p>
    </div>
    <div class="col-md-4">
    </div>
  </div><div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-6">
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
