<div class="well">
  <table class="table commutes-all">
    <thead>
      <tr>
        <th>Total Number of Commuters</th>
        <th>Average Commuter Miles</th>
        <th>Total Weekly Monies Spent on Commuting</th>
        <th>Total Annual Monies Spent on Commuting</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @commutes.count %></td>
        <td><%= @commutes.average(:distance_in_miles).round(2).to_s %></td>
        <td><%= number_to_currency(@commutes.sum(:drive_cost_per_week)) %></td>
        <td><%= number_to_currency(@commutes.sum(:drive_cost_per_year)) %></td>
      </tr>
    </tbody>
  </table>
</div>
