<p><strong><center>Please enter an origin and destination address below.</center></strong></p>
<%= simple_form_for @commute_errors || Commute.new, remote: true do |f| %>
  <div class="form-group">
    <%= f.input :origin, label: 'Origin address:', placeholder: 'Enter an ORIGIN address (city and state are optional)' %>
  </div>
  <div class="form-group">
    <%= f.input :destination, label: 'Destination address:', placeholder: 'Enter an DESTINATION address (city and state are optional)' %>
  </div>
  <div class="form-group">
    <%= f.button :submit, "Calculate transit data", class: "btn btn-primary center-block" %>
  </div>
<% end %>

<p><small>The data collected from this survey is being used to determine where the need for public transportation might exist. No personal information will be collected from this data, only data points based on an origin address, destination address, and the shortest route in-between each address.</small></p>
