<div class="container">
  <div class="col-md-8">
    <div class="well survey-copy">
      <h4>Thank you for taking the time to fill out the Indianapolis Transit Survey.</h4>
      <p>The data collected from this survey is being used to determine where the need for public transportation might exist.</p>
      <p>No personal information will be collected from this data, only data points based on an origin address, destination address, and the shortest route in-between each address.</p>
      <p>For the purposes of this survey, we are making the assumption that most commonly followed routes are for commutes to and from work.</p>
      <p>After you fill in your origin and destination addresses, you will be taken to a page containing your commute stats. Thank you once again!</p>
    </div>
    <%= simple_form_for @commute do |f| %>
      <div class="form-group">
        <%= f.input :origin, label: 'Origin address:', placeholder: 'Enter an ORIGIN address, e.g. 111 S Main St, Indianapolis, IN 46000 (city and state are optional)', error: 'Origin address is required' %>
      </div>
      <div class="form-group">
        <%= f.input :destination, label: 'Destination address:', placeholder: 'Enter an DESTINATION address, e.g. 111 S Main St, Indianapolis, IN 46000 (city and state are optional)', error: 'Destination address is required' %>
      </div>
      <div class="form-group">
        <%= f.button :submit, "Calculate transit data", class: "btn btn-info" %>
      </div>
    <% end %>
  </div>
</div>
