<h1>Transit survey</h1>



<%= simple_form_for @commute do |f| %>
  <%= f.input :origin, label: 'Origin address', placeholder: '475 E Market St, 46204', error: 'Origin address is required' %>
  <%= f.input :destination, label: 'Destination address', placeholder: '475 E Market St. 46204', error: 'Destination address is required' %>
  <%= f.button :submit %>
<% end %>
