<div class="container">
  <div class="row">
    <div class="col-sm-2 left-sidebar-commutes">
      <%= simple_format(Textfile.content_for("left_sidebar_commutes")) %>
    </div>
    <div class="col-sm-8">
      <%= render @commute %>
    </div>
  </div>
</div>
