<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= render @commute %>
    </div>
    <div class="col-md-6">
      <h3><center>Heatmap Visualization</center></h3>
      <p><center>See your route compared to other commuter routes! Find the roads most travelled? Green routes indicate roads less travelled, red routes are more heavily travelled.</center></p>
      <%= render 'points/heatmap' %>
    </div>
  </div>
</div>
