@import "bootstrap-sprockets";
@import "bootstrap";
@import 'main';
@import 'points';

// body modifications, padding for fixed nav bar

body {
  background-color: #9D8189;
  padding-top: 70px;
}

body.development {
  background-color: #BBCE8A;
}

body.production {
  background: #5DB7DE;
}
