@import "bootstrap-sprockets";
@import "bootstrap";
@import 'main';
@import 'points';
@import 'rrssb';
@import 'full-slider';

// * {
//   border: solid 1px black;
// }


// body modifications, padding for fixed nav bar and footer

body.development {
  background-color: #79ADD8;
  padding-top: 50px;
  margin-bottom: 60px;
}

body.production {
  background: #79ADD8;
  padding-top: 50px;
  margin-bottom: 60px;
}
