/*font updates*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nova Flat', cursive;
}

p {
  font-family: 'Mallanna', sans-serif;
  font-size: 16px;
}


/*navbar modifications*/

/*body {
  padding-top: 70px;
}*/

.navbar-inverse {
  background-color: #373d42;
}

.navbar-brand {
  font-family: 'Nova Flat', cursive;
  font-size: 24px;
}

/*survey styles*/

.well {
  background-color: #D5DDE2;
  border: none;
}

.btn-primary {
  font-family: 'Nova Flat', cursive;
  background-color: #534B62;
  border-color: #534B62;
}

.btn-primary:hover {
  font-family: 'Nova Flat', cursive;
  background-color: #9D9D9D;
  border-color: #9D9D9D;
  color: #373D42;
}

#map {
  width: 100%;
  height: 60vh;
}

/*jumbotron formatting*/

.jumbotron p {
  font-size: 18px;
}

.jumbotron {
  background-color: #D5DDE2;
}
