/*font updates*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Francois One', sans-serif;
}

p {
  font-family: 'Mallanna', sans-serif;
  font-size: 16px;
}

/* button modifications */

.btn-default {
  font-family: 'Francois One', sans-serif;
  background-color: lightskyblue;
  border-color: lightskyblue;
  align-items: center;
}


/*navbar modifications*/

.navbar-inverse {
  background-color: #373d42;
}

.navbar-brand {
  font-family: 'Francois One', sans-serif;
  font-size: 24px;
}

.dropdown-menu {
  background-color: darkseagreen;
}

a.dropdown-toggle {
  font-family: 'Francois One', sans-serif;
  font-size: 18px;
  color: #9d9d9d;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
}

a.dropdown-toggle:hover {
  text-decoration: none;
  color: whitesmoke;
}


// carousel modifications

.container.carousel-images {
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: auto;
}

.carousel-images {
  opacity: 0.8;
}

.carousel-caption {
  right: 15%;
  left: 15%;
  padding-bottom: 250px;
}

/*survey styles*/

.modal-header {
  background-color: seagreen;
  text-align: center;
  color: whitesmoke;
}

.modal-content {
  background-color: darkseagreen;
}

.well {
  background-color: #D5DDE2;
  border: none;
}

.btn-primary {
  font-family: 'Francois One', sans-serif;
  background-color: seagreen;
  border-color: seagreen;
  align-items: center;
}

.btn-primary:hover {
  font-family: 'Francois One', sans-serif;
  background-color: #9D9D9D;
  border-color: #9D9D9D;
  color: #373D42;
}

#loading-indicator {
  position: fixed;
  z-index: 999;
  height: 4em;
  width: 4em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* heatmap formatting */

#map {
  width: 100%;
  height: 75vh;
}

/*table formatting commute data*/
.commute-results th {
  text-align: center;
  width: 33%;
}

.commute-results td {
  text-align: center;
  width: 33%;
}

/*table formatting commutes index*/
.commutes-all th {
  text-align: center;
  width: 25%;
}

.commutes-all td {
  text-align: center;
  width: 25%;
}

/*table formatting community index*/
.communities-results th, td {
  text-align: left;
  width: 14%;
}


/*communities index view*/
.communities-scroll {
  height: 80vh;
  overflow: scroll;
}

// contact page formatting

// .contact-page {
//   height: 100%;
// }

.contact-page .jumbotron {
  background: asset-data-url('road.jpg');
  color: #9d9d9d;
}

/*footer formatting*/

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #373d42;
  margin: 0 0;
}

.footer a {
  font-family: 'Francois One', sans-serif;
  font-size: 18px;
  color: #9d9d9d;
  text-align: center;
  vertical-align: middle;
}

.footer a:hover {
  text-decoration: none;
  color: whitesmoke;
}
