/*font updates*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nova Flat', cursive;
}

p {
  font-family: 'Mallanna', sans-serif;
  font-size: 16px;
}


/*navbar modifications*/

.navbar-inverse {
  background-color: #373d42;
}

.navbar-brand {
  font-family: 'Nova Flat', cursive;
  font-size: 24px;
}

// carousel modifications

.container.carousel-images {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: auto;
  height: auto;
  padding: 0px;
  display: flex;
}

.carousel-images {
  opacity: 0.8;
}

// need to find way to edit captions like this...
.carousel-caption {
  right: 15%;
  left: 15%;
  padding-bottom: 200px;
}

/*survey styles*/

.well {
  background-color: #D5DDE2;
  border: none;
}

.btn-primary {
  font-family: 'Nova Flat', cursive;
  background-color: #534B62;
  border-color: #534B62;
}

.btn-primary:hover {
  font-family: 'Nova Flat', cursive;
  background-color: #9D9D9D;
  border-color: #9D9D9D;
  color: #373D42;
}

#map {
  width: 100%;
  height: 75vh;
}

/*table formatting commute data*/
.commute-results th {
  text-align: center;
  width: 33%;
}

.commute-results td {
  text-align: center;
  width: 33%;
}

/*table formatting commutes index*/
.commutes-all th {
  text-align: center;
  width: 25%;
}

.commutes-all td {
  text-align: center;
  width: 25%;
}

/*table formatting community index*/
.communities-results th, td {
  text-align: left;
  width: 20%;
}


/*communities index view*/
.communities-scroll {
  height: 75vh;
  overflow: scroll;
}

/*footer formatting*/

.footer {
  bottom: 0;
  width: 100%;
  background-color: #373d42;
  height: 60px;
}

.footer a {
  font-family: 'Nova Flat', cursive;
  font-size: 18px;
  color: #9d9d9d;
}
