/*navbar modifications*/

/*body {
  padding-top: 70px;
}*/

.navbar-inverse {
  background-color: #373d42;
}

.navbar-brand {
  font-family: 'Nova Flat', cursive;
  font-size: 24px;
}

#map {
  width: 100%;
  height: 45vh;
}

/*jumbotron formatting*/

.jumbotron p {
  font-size: 16px;
}

.jumbotron {
  background-color: #F2FBE0;
}
