<div class="col-sm-2 left-sidebar-commutes">
  <%= simple_format(Textfile.content_for("left_sidebar_communities")) %>
</div>
<div class="col-sm-8">
  <h3>List of Cities in Indianapolis and Surrounding Communities</h3>
  <p>Please select a city below to see a heatmap for commuters that have an origin address within a 5 mile radius of that city.</p>
  <div class="well">
    <div class="communities-scroll">
      <ul>
        <% @communities.each do |community| %>
          <li><%= link_to community.city, community_path(community.id) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
