<div class="container">
  <div class="row">
    <div class="col-sm-2 heatmap-communities">
      <%= Textfile.content_for("heatmap_communities") %>
    </div>
    <div class="col-sm-8">
      <h3><center><%= "Heatmap for Community surrounding #{@community.city}" %></center></h3>
      <%= render 'heatmap' %>
    </div>
  </div>
</div>
