<div class="container">
  <div class="row">
    <div class="col-sm-2 heatmap-communities">
      <%= Kramdown::Document.new(simple_format(Textfile.content_for("heatmap_communities"))).to_html.html_safe %>
    </div>
    <div class="col-sm-8">
      <h3><%= "Heatmap for Community surrounding #{@community.city}" %></h3>
      <%= render 'heatmap' %>
    </div>
  </div>
</div>
